<div class="home-container">
    <h1>Bem-vindo ao Gerenciador de Veículos</h1>
    <p>Utilize as opções a baixo para gerenciar seus veículos:</p>
    <div class="home-links">
        <a routerLink="/veiculos" class="btn btn-primary">Listar Veículos</a>
        <a routerLink="/veiculos/adicionar" class="btn btn-success">Adicionar Veículo</a>
        <a routerLink="/veiculos/buscar" class="btn btn-info">Buscar Veículo</a>
        <a routerLink="/veiculos/editar/:id" class="btn btn-warning">Editar Veículo</a>
    </div>
    <div class="carousel-container mt-4">
        <carousel>
          <slide *ngFor="let image of carouselImages">
            <img [src]="image.src" [alt]="image.alt" >
          </slide>
        </carousel>
    </div>

</div>