<div class="listar-veiculos-container">
    <h2>Editar Veículo</h2>

    <div *ngIf="mensagemSucesso" class="alert alert-sucess"> {{mensagemSucesso}}</div>
    <div *ngIf="mensagemErro" class="alert alert-danger"> {{mensagemErro}} </div>

    <h2>Selecione um veículo para editar</h2>
    <ul>
        <li *ngFor="let veiculo of veiculos" (click)="selecionarVeiculo(veiculo)">
            <span>
                {{veiculo.marca}} - {{veiculo.modelo}} - {{veiculo.ano}}
            </span>
            <i class="fas fa-trash-alt excluir-icone"
                (click) = "excluirVeiculo(veiculo.id, $event)"
                title="Excluir veículo"
            ></i>
        </li>
    </ul>

    <div *ngIf="veiculo.id">
        <h2>Formulário de Edição</h2>
        <form (ngSubmit)="editarVeiculos()">
            <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" class="form-control" id="marca" name="marca" [(ngModel)]="veiculo.marca" required/>
                <div *ngIf="mensagemErroCampo.marca" class="text-danger">
                    {{ mensagemErroCampo.marca }}
                </div>
            </div>
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <input type="text" class="form-control" id="modelo" name="modelo" [(ngModel)]="veiculo.modelo" required/>
                <div *ngIf="mensagemErroCampo.modelo" class="text-danger">
                    {{ mensagemErroCampo.modelo }}
                </div>
            </div>
            <div class="form-group">
                <label for="ano">Ano</label>
                <input type="number" class="form-control" id="ano" name="ano" [(ngModel)]="veiculo.ano" required=""/>
                <div *ngIf="mensagemErroCampo.ano" class="text-danger">
                    {{ mensagemErroCampo.ano }}
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea class="form-control" id="descricao" name="descricao" [(ngModel)]="veiculo.descricao" required></textarea>
                <div *ngIf="mensagemErroCampo.descricao" class="text-danger">
                    {{ mensagemErroCampo.descricao }}
                </div>
            </div>
            <div class="form-group">
                <label for="img">Imagens do Veículo</label>
                <div *ngFor="let imagem of veiculo.imagensUrl; let i = index" class="image-input">
                    <input type="text" class="form-control" name='"imagemUrl" + i' [(ngModel)]="veiculo.imagensUrl[i]" required=""/>
                    <button type="button" (click)="removerImagem(i)" class="btn btn-danger btn-sm">Remover</button>
                </div>
                <button type="button" (click)="adicionarImagem()" class="btn btn-add btn-sm">Adicionar</button>
            </div>

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>

        </form>
        
    </div>
</div>
